/*
General style for displaying error messages
*/

.errorMessage {
    position: absolute;
    color: red;
    font-size: small;
    margin: auto;
    text-align: center;
}

.errorLabel {
    color: red;
}
.errorFormBorder {
    border: 1px solid red;
}